.login-form {
  font: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.login {
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px var(--button-shadow-color);
  background-color: var(--color-palette-1);
  color: white;
  font-size: large;
}

.forgotPassword {
  margin-top: 10px;
  font-size: small;
  color: black;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.userButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userButtons button {
  margin-bottom: 10px;
}

.validation-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.validation-error p {
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loyalty-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1px;
  max-width: 350px;
  margin: auto;
  border-radius: 10px;
  // background-color: #48bdff;
  background-color: #00563f;
}

.loyalty {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
}


.trolley-container {
  display: flex;
  justify-content: center;
}

.trolley-login {
  font-size: 200px;
  color: rgb(30, 23, 126);
  margin-bottom: 20px;
}

.input-email  {
  margin-bottom: 20px;
  border: 2px solid rgba(195, 195, 195, 0.278);
  font-size: medium;
}

.input-password {
  margin-bottom: 20px;
  border: 2px solid rgba(195, 195, 195, 0.278);
  font-size: medium;
}

.input-create-email {
  margin-bottom: 20px;
  border: 2px solid rgba(195, 195, 195, 0.278);
  font-size: medium;
}

.input-create-password {
  margin-bottom: 20px;
  border: 2px solid rgba(195, 195, 195, 0.278);
  font-size: medium;
}

.input-confirm-password {
  margin-bottom: 20px;
  border: 2px solid rgba(195, 195, 195, 0.278);
  font-size: medium;
}

.user-icon {
  margin-bottom: 60px;
  font-size: 200px;
  color: var(--color-palette-1);
}

.user-container {
  display: flex;
  justify-content: center;
}

.forgot-password {
  margin-bottom: 20px;
  border: 2px solid rgba(195, 195, 195, 0.278);
  font-size: medium;
}

.container-forgot-password {
  display: flex;
  justify-content: center;
}

.emailpassword {
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 3px var(--button-shadow-color);
  background-color: var(--color-palette-1);
  color: white;
  font-size: large;
}

.password-reset-icon {
  font-size: 200px;
  margin-bottom: 40px;
  color: var(--color-palette-1);
}

.icon-container {
  display: flex;
  justify-content: center;
}

.nav-icon {
  margin-left: 10px;
}