.productInfo {
  margin-top: 50px;

  .productImage {
    width: 300px;
    margin-bottom: 10px;
  }

  .productName {
    font-weight: 600;
    margin-bottom: 14px;
    display: none;
  }

  .productNameMobile {
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 24px;
    align-self: flex-start;
    margin-left: 10px;
    color: rgb(3, 1, 122);
  }

  .brandMobile {
    padding: 5px 10px 5px 10px;
    width: min-content;
    font-size: 12px;
    font-weight: 500;
    background: rgb(53, 53, 53);
    border-radius: 25px;
    color: rgb(255, 255, 255);
    align-self: flex-start;
    margin-left: 10px;
  }

  .brand {
    display: none;
  }

  .productDescription {
    margin-top: 10px;
    font-weight: 400;
    font-size: medium;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .right-section {
    display: flex;
    flex-direction: column;
  }

  .supermarkets {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(250, 250, 250);
    padding: 5px 15px 5px 15px;
    border-radius: 25px;
    font-weight: 600;
  }

  .supermarkets:hover {
    background-color: rgb(233, 233, 233);
  }

  .price-value {
    font-weight: 400;
  }

  .add-button {
    margin-top: 30px;
    color: white;
    width: max-content;
    border: none;
    align-self: center;
    padding: 6px 30px 6px 30px;
    font-size: 30px;
  }

  .shoppingListNumber {
    color: rgb(3, 1, 122);
    align-self: center;
    margin-top: 10px;
    font-weight: 600;
    font-size: 16px;
  }

  .disclaimer {
    color: rgb(211, 211, 211);
    font-size: 10px;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 9px;
  }


  @media (min-width: 600px) {
    display: flex;
    flex-direction: row;
    align-items: start;
justify-content: center;
    // gap: 20px; // Adjust as needed for spacing
    margin: 18px;
    .productName {
      display: inline;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 24px;
      align-self: flex-start;
      margin-left: 20px;
      color: rgb(3, 1, 122);
    }

    .brand {
      display: inline;
      padding: 5px 10px 5px 10px;
      width: min-content;
      font-size: 12px;
      font-weight: 500;
      background: rgb(53, 53, 53);
      border-radius: 25px;
      color: rgb(255, 255, 255);
      align-self: flex-start;
      margin-left: 20px;
    }

    .productNameMobile {
      display: none;
    }
    .brandMobile {
      display: none;
    }

    .productImage {
      margin-top: 50px;
      width: 300px;
    }

    .right-section {
      margin-top: 80px;
    }

    .supermarkets {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      margin-left: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: rgb(250, 250, 250);
      padding: 5px 15px 5px 15px;
      border-radius: 25px;
      font-weight: 600;
      font-size: 14px;
    }

    .price-value {
      margin-top: 5px;
    }

    .pricing {
      margin-top: 20px;
      margin-left: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: fit-content;
    }

    .add-button {
      margin-top: 20px;
      color: white;
      width: max-content;
      border: none;
      align-self: end;
      padding: 6px 20px 6px 20px;
      font-size: 20px;
    }

    .shoppingListNumber {
      color: rgb(3, 1, 122);
      align-self: end;
      margin-top: 12px;
      font-weight: 600;
      font-size: 16px;
    }

    .disclaimer {
      color: rgb(211, 211, 211);
      font-size: 10px;
      align-self: end;
      margin-top: 10px;
      font-size: 10px;
    }
  }

  @media (min-width: 1250px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    // gap: 20px; // Adjust as needed for spacing
    margin: 18px;

    .productName {
      display: inline;
      font-weight: 700;
      margin-bottom: 10px;
      font-size: 42px;
      align-self: flex-start;
      margin-left: 10px;
      color: rgb(3, 1, 122);
    }

    .brand {
      display: inline;
      padding: 5px 10px 5px 10px;
      width: min-content;
      font-size: 16px;
      font-weight: 500;
      background: rgb(53, 53, 53);
      border-radius: 25px;
      color: rgb(255, 255, 255);
      align-self: flex-start;
      margin-left: 10px;
    }

    .productNameMobile {
      display: none;
    }
    .brandMobile {
      display: none;
    }

    .productImage {
      margin-top: 50px;
      width: 350px;
    }

    .right-section {
      margin-top: 80px;
      margin-left: 50px;
    }

    .supermarkets {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 10px;
      margin-left: 40px;
      margin-bottom: 10px;
      margin-top: 10px;
      background-color: rgb(250, 250, 250);
      padding: 5px 20px 5px 20px;
      border-radius: 25px;
      font-weight: 600;
      font-size: 20px;
    }

    .price-value {
      margin-top: 20px;
    }

    .pricing {
      margin-top: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .add-button {
      margin-top: 50px;
      margin-right: 10px;
      color: white;
      width: max-content;
      border: none;
      align-self: end;
      padding: 6px 30px 6px 30px;
      font-size: 30px;
    }

    .shoppingListNumber {
      color: rgb(3, 1, 122);
      align-self: end;
      margin-top: 15px;
      margin-right: 10px;
      font-weight: 600;
      font-size: 20px;
    }

    .disclaimer {
      color: rgb(211, 211, 211);
      font-size: 10px;
      align-self: end;
      margin-top: 10px;
      margin-right: 10px;
      font-size: 12px;
    }
  }
}

.back-anchor {
  position: absolute;
  font-size: 16px;
  top: 60px;
  left: 10px;
  font-weight: 600;
}
