//Search Bar

.search {
  display: flex;
  justify-content: center;

  margin-top: 5px;
  margin-bottom: 30px;
  align-items: center;

  .searchBox {
    width: 200px;
    margin-right: 5px;
    border: 2px solid rgba(195, 195, 195, 0.428);
  }

  .search-icon {
    margin-top: 5px;
  }
  .searchButton {
    height: min-content;
    background-color: rgb(30, 23, 126);
    border: none;
    padding: 2px 8px 2px 8px;
    color: white;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 24px;
  }

  @media (min-width: 600px) {
    margin-top: 5px;
    margin-bottom: 30px;

    .searchBox {
      width: 300px;
    }
  }
}
//Sort Dropdown

.sortBox {
  position: relative;
  max-width: 400px;
  margin-left: 30px;
  font-size: smaller;
  border: 1px solid rgba(0, 0, 0, 0.204);
  background-color: white;
}

//Search Results

.search-result {
  box-shadow: 2px 2px 10px rgb(196, 196, 196);
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border-color: none;
  border-width: 3px;
  margin: 30px;
  background-color: #ffffff;
  cursor: pointer;

  .search-result-image {
    width: 220px;
    margin: 10px;
  }
  .image-title {
    display: flex;
    flex-direction: column;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .search-result-name {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
    color: rgb(3, 1, 122);
  }

  .brand {
    padding: 5px 10px 5px 10px;
    width: fit-content;
    font-size: 12px;
    font-weight: 500;
    background: rgb(25, 33, 141);
    border-radius: 25px;
    color: rgb(255, 255, 255);
  }

  .store-name {
    padding-bottom: 1px;
    border-bottom: 1;
  }
}

.lowest {
  // padding: 4px;
  font-weight: 500;
}

.unit-price-measure {
  font-size: 10px;
  color: grey;
  font-weight: 400;
}

.store-name {
  font-size: 20px;
}

.store-price {
  font-size: 16px;
  background: rgb(241, 241, 241);
  padding: 5px 10px 5px 10px;
  border-radius: 25px;
  font-weight: 400;
}
.container-price {
  margin-bottom: 10px;
}

.pound-sign {
  color: #1d27b6;
  margin-left: 2px;
}

// Initially hide the unit price measure
.unit-price-measure {
  display: none;
}

// Media query for screens wider than 600px
@media (min-width: 600px) {
  .unit-price-measure {
    display: inline;
  }
}

@media (min-width: 600px) {
  .search-result {
    flex-direction: row;
    justify-content: start;

    .search-result-image {
      width: 150px;
      align-self: start;
      margin-right: 20px;
    }

    .title-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .search-result-name {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      color: rgb(3, 1, 122);
    }

    .brand {
      padding: 5px 10px 5px 10px;
      margin-top: 10px;
      margin-left: 20px;
      width: fit-content;
      font-size: 12px;
      font-weight: 500;
      background: rgb(25, 33, 141);
      border-radius: 25px;
      color: rgb(255, 255, 255);
    }

    .product-container {
      display: flex;
      flex-wrap: wrap;
    }

    .container-price {
      margin-right: 10px;
      margin-bottom: 10px;
      padding-right: 10px;
    }

    .store-name {
      font-size: 15px;
    }

    .store-price {
      font-size: 12px;
      background: rgb(241, 241, 241);
      padding: 5px 10px 5px 10px;
      border-radius: 25px;
      font-weight: 400;
    }
  }
}

@media (min-width: 1250px) {
  .search-result {
    flex-direction: row;
    justify-content: start;

    .search-result-image {
      width: 200px;
      align-self: start;
      margin-right: 20px;
      padding-right: 30px;
      border-right: 1px solid rgba(0, 0, 0, 0.144);
    }

    .title-container {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
    }

    .search-result-name {
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 10px;
      margin-top: 10px;
      color: rgb(3, 1, 122);
    }

    .brand {
      padding: 5px 10px 5px 10px;
      margin-top: 10px;
      margin-left: 20px;
      width: fit-content;
      font-size: 12px;
      font-weight: 500;
      background: rgb(25, 33, 141);
      border-radius: 25px;
      color: rgb(255, 255, 255);
    }

    .product-container {
      display: flex;
      flex-wrap: nowrap;
    }

    .container-price {
      margin-right: 20px;
      padding-right: 20px;
      border-right: 1px solid rgba(0, 0, 0, 0.144);
    }

    .store-name {
      font-size: 20px;
    }

    .store-price {
      font-size: 16px;
      background: rgb(241, 241, 241);
      padding: 5px 10px 5px 10px;
      border-radius: 25px;
      font-weight: 400;
    }
  }
}

.container {
  height: 100vh;
}

.label {
  display: flex;
  position: relative;
  margin-bottom: 2rem;
}
